{% load static %}
<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('{% static banner %}'); background-size:cover; background-position:center;">
    <div class="container">
        <div class="dz-bnr-inr-entry">
            <h1>{{ title }}</h1>
            <!-- Breadcrumb Row -->
            <nav aria-label="breadcrumb" class="breadcrumb-row">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url link %}">{{ crumb_to }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ul>
            </nav>
            <!-- Breadcrumb Row End -->
        </div>
    </div>
</div>