{% load static %}
<footer class="site-footer style-1 bg-dark" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row"> 
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="widget widget_getintuch">
                        <h5 class="footer-title">Contact</h5>
                        <ul>
                            <li>
                                <i class="flaticon-placeholder"></i>
                                <p>Chrisland University,Idi-Aba,Km5 Ajebo Rd, Owode </p>
                            </li>
                            <li>
                                <i class="flaticon-telephone"></i>
                                <p>08108945241<br>
                                    08108945241</p>
                            </li>
                            <li>
                                <i class="flaticon-email-1"></i>
                                <p>Aikulolaoreoluwa222@gmail.com <br></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Our Links</h5>
                        <ul>
                            <li><a href="{% url "index" %}"><span>Home</span></a></li>
                            <li><a href="{% url "about" %}"><span>About Us</span></a></li>
                            <li><a href="{% url "services" %}"><span>Services</span></a></li>
                            <li><a href="{% url "team" %}"><span>Team</span></a></li>
                            <li><a href="blog-standard.html"><span>Blog</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_services">
                        <h5 class="footer-title">OUR SERVICES</h5>
                        <ul>
                            <li><a href="blog-open-gutenberg.html"><span>Strategy & Research</span></a></li>
                            <li><a href="services.html"><span>Fast Delivery</span></a></li>
                            <li><a href="{% url "contact" %}"><span>Seat Reservation</span></a></li>
                            <li><a href="shop-style-1.html"><span>Pickup In Store</span></a></li>
                            <li><a href="our-menu-1.html"><span>Our Menu</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6	">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Help Center</h5>
                        <ul>
                            <li><a href="{% url "faq" %}"><span>FAQ</span></a></li>
                            <li><a href="{% url "services" %}"><span>Services</span></a></li>
                            <li><a href="{% url "testimonial" %}"><span>Testimonials</span></a></li>
                            <li><a href="{% url "contact" %}"><span>Contact Us</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Part -->
    <div class="container">
        <div class="footer-bottom">
            <div class="row">
                <div class="col-xl-6 col-md-6 text-md-start">
                    <p>Copyright 2024 All rights reserved.</p>
                </div>
                <div class="col-xl-6 col-md-6 text-md-end">
                    <span class="copyright-text">Crafted With <span class="heart"></span> by <a href="https://github.com/Code-Warlock" target="_blank">Code Warlock</a></span>
                </div>
            </div>
        </div>
    </div>
    <img class="bg1 dz-move" src="{% static "images/background/pic5.png" %}" alt="/">
    <img class="bg2 dz-move" src="{% static "images/background/pic6.png" %}" alt="/">
</footer>

<div class="scroltop-progress scroltop-primary">
    <svg width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
