{% load static %}
<header class="site-header mo-left header header-transparent style-1">
    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix ">
            <div class="container clearfix">
                
                <!-- Website Logo -->
                <div class="logo-header mostion">
                    <a href="{% url "index" %}" class="anim-logo"><img src="{% static "images/VendorConnect.png" %}" alt="/"></a>
                    <a href="{% url "index" %}" class="anim-logo-white"><img src="{% static "images/VendorConnect.png" %}" alt="/"></a>
                </div>
                
                <!-- Nav Toggle Button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                
                <!-- EXTRA NAV -->
                <div class="extra-nav">
                    <div class="extra-cell">
                        <ul>
                            <li>
                                <a class="btn btn-white btn-square btn-shadow" data-bs-toggle="offcanvas" href="#offcanvasLogin" role="button" aria-controls="offcanvasLogin">
                                    <i class="flaticon-user"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- EXTRA NAV -->
                
                <!-- Header Nav -->
                <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                    <div class="logo-header">
                        <a href="{% url "index" %}" class="anim-logo"><img src="{% static "images/VendorConnect.png" %}" alt="/"></a>
                    </div>
                    <ul class="nav navbar-nav navbar white">
                        <li ><a href="{% url "index" %}">Home</a>
                        </li>
                        <li class="sub-menu-down">
                            <a href="{% url "about" %}">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url "faq" %}">FAQ</a></li>
                                        <li><a href="{% url "team" %}">Team</a></li>
                                        <li><a href="{% url "testimonial" %}">Testimonial</a></li>
                                    </ul>
                                </li>
                        </li>
                        <li class="sub-menu-down"><a href="{% url "services" %}">Services</a>
                            <ul class="sub-menu">
                                <li><a href="shop-style-1.html">Shop Style 1</a></li>
                                <li><a href="shop-style-2.html">Shop Style 2</a></li>
                                <li><a href="shop-cart.html">Shop Cart</a></li>
                                <li><a href="shop-wishlist.html">Shop Wishlist</a></li>
                                <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                <li><a href="product-detail.html">Product Detail</a></li>
                            </ul>
                        </li>
                        <li class="has-mega-menu">
                            <a href="javascript:void(0);">Vendors</a>
                            <ul class="mega-menu">
                                <li> <a href="javascript:;">Adonai Kitchen</a>
                                    <ul>
                                        <li><a href="blog-grid-2.html">Drinks</a></li>
                                        <li><a href="blog-grid-3.html">Soups and Swallow</a></li>
                                        <li><a href="blog-grid-left-sidebar.html">Snacks</a></li>
                                        <li><a href="blog-grid-right-sidebar.html">Dishes</a></li>
                                    </ul>
                                </li>
                                <li> <a href="javascript:;">Blossom Kitchen</a>
                                    <ul>
                                        <li><a href="blog-list.html">Drinks</a></li>
                                        <li><a href="blog-list-left-sidebar.html">Soups and Swallow</a></li>
                                        <li><a href="blog-list-right-sidebar.html">Snacks</a></li>
                                        <li><a href="blog-both-sidebar.html">Proteins and Dishes</a></li>
                                    </ul>
                                </li>
                                <li> <a href="javascript:;">Hot and Spicy Kitchen</a>
                                    <ul>
                                        <li><a href="blog-standard.html">Bread and Snacks</a></li>
                                        <li><a href="blog-open-gutenberg.html">Drinks</a></li>
                                        <li><a href="blog-detail-left-sidebar.html">Shawarma</a></li>
                                        <li><a href="blog-detail-right-sidebar.html">Finger foods</a></li>
                                    </ul>
                                </li>
                                <li> <a href="javascript:;">Deli Buds Kitchen</a>
                                    <ul>
                                        <li><a href="blog-grid-3-masonary.html">Smoothies</a></li>
                                        <li><a href="blog-grid-4-masonary.html">Shawarma and Finger foods</a></li>
                                        <li><a href="blog-wide-list-sidebar.html">Catfish</a></li>
                                        <li><a href="blog-wide-grid-sidebar.html">Suya and Asun</a></li>
                                    </ul>
                                </li>
                                
                            </ul>
                        </li>
                        <li><a href="{% url "contact" %}">Contact Us</a></li>
                    </ul>
                    <div class="dz-social-icon">
                        <ul>
                            <li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/"></a></li>
                            <li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/"></a></li>
                            <li><a target="_blank" class="fab fa-linkedin-in" href="https://www.linkedin.com/"></a></li>
                            <li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/"></a></li>
                        </ul>
                    </div>	
                </div>
                
            </div>
        </div>
    </div>
    <!-- Main Header End -->
</header>

<!-- Offcanvas Form Start -->
    {% include 'mainapp/includes/_form.html' %}
<!-- Offcanvas Form End -->