{% load static %}
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static "js/jquery.min.js" %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static "js/jquery.star-rating-svg.js" %}"></script><!-- JQUERY RATING JS -->
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static "vendor/bootstrap-select/js/bootstrap-select.min.js" %}"></script><!-- BOOTSTRAP SELEECT -->
<script src="{% static "vendor/magnific-popup/magnific-popup.js" %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static "vendor/masonry/masonry-4.2.2.js" %}"></script><!-- MASONRY -->
<script src="{% static "vendor/masonry/isotope.pkgd.min.js" %}"></script><!-- ISOTOPE -->
<script src="{% static "vendor/imagesloaded/imagesloaded.js" %}"></script><!-- IMAGESLOADED -->
<script src="{% static "vendor/counter/waypoints-min.js" %}"></script><!-- WAYPOINTS JS -->
<script src="{% static "vendor/wow/wow.js" %}"></script><!-- WOW JS -->
<script src="{% static "vendor/counter/counterup.min.js" %}"></script><!-- COUNTERUP JS -->
<script src="{% static "vendor/swiper/swiper-bundle.min.js" %}"></script><!-- OWL-CAROUSEL -->
<script src="{% static "vendor/popper/popper.js" %}"></script><!-- Popper -->
<script src="{% static "vendor/tempus-dominus/js/tempus-dominus.min.js" %}"></script><!-- Tempus Dominus -->
<script src="{% static "js/dz.carousel.min.js" %}"></script><!-- OWL-CAROUSEL -->
<script src="{% static "js/dz.ajax.js" %}"></script><!-- AJAX -->
<script src="{% static "js/custom.min.js" %}"></script><!-- CUSTOM JS -->
<script src="{% static "js/dznav-init.js" %}"></script><!-- DZNAV INIT -->
<script src="{% static "vendor/rangeslider/rangeslider.js" %}"></script><!-- CUSTOM JS -->
<script src="{% static "vendor/switcher/switcher.js" %}"></script><!-- CUSTOM JS -->
<script>
jQuery(document).ready(function(){
	dzSettingsOptions.themeFullColor_value = 'color_3';
	new dzSettings(dzSettingsOptions);
});
</script>