{% extends "base.html" %}
{% load static %}


    {%block title %}
        VendorConnect | Streamlined Campus Dining Solutions
    {% endblock %}
    {% block styles %}
        {% include 'mainapp/includes/_links.html' %}
    {% endblock styles %}

{% block content %}
    {% include 'mainapp/includes/_loader.html' %}
    <div class="page-wraper">
        
        <!-- Header -->
		{% include 'mainapp/includes/_header.html' %}
        <!-- Header -->
	
	<div class="page-content bg-white">
	
	<div class="page-content bg-white">
		<!-- Banner  -->
		{% include "mainapp/includes/_crumb.html" %}
		<!-- Banner End -->
		
		<!-- Contact Section -->
		<section class="section-wrapper-8 content-inner-1">
			<div class="container">
				<div class="row inner-section-wrapper align-items-center">
					<div class="col-lg-3 col-sm-6">
						<div class="icon-bx-wraper style-5 hover-aware box-hover">
							<div class="icon-bx"> 
								<div class="icon-cell">
									<i class="flaticon-placeholder"></i>
								</div>
							</div>
							<div class="icon-content">
								<h5 class="title">Location</h5>
								<p>Chrisland University,Idi-Aba,Km5 Ajebo Rd, Owode <br>Abeokuta, Ogun State.</p>
								<div class="effect bg-primary"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="icon-bx-wraper style-5 hover-aware box-hover active">
							<div class="icon-bx"> 
								<div class="icon-cell">
									<i class="flaticon-telephone"></i>
								</div>
							</div>
							<div class="icon-content">
								<h5 class="title">Phone Number</h5>
								<p>08108945241 <br> +234(0)8108945241</p>
								<div class="effect bg-primary"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="icon-bx-wraper style-5 hover-aware box-hover">
							<div class="icon-bx "> 
								<div class="icon-cell">
									<i class="flaticon-email-1"></i>
								</div>
							</div>
							<div class="icon-content">
								<h5 class="title">Email Address</h5>
								<p>Aikulolaoreoluwa222@gmail.com <br></p>
								<div class="effect bg-primary"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="icon-bx-wraper style-5 hover-aware box-hover">
							<div class="icon-bx "> 
								<div class="icon-cell">
									<i class="flaticon-clock-1"></i>
								</div>
							</div>
							<div class="icon-content">
								<h5 class="title">Open & Closing</h5>
								<p>Mon - Sun: <br>09:00am to  07.00pm </p>
								<div class="effect bg-primary"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="section-head text-center">
					<h2 class="title">Reservation</h2>
				</div>
				<form class="dzForm dezPlaceAni" method="POST" id="contactus" action="https://submit-form.com/wt3Vvj0Kl">
					<input type="hidden" name="_email.subject" value="You have been contacted!" />
					<input type="hidden" name="_email.template.title" value="Contact Us Submission" />
					<input type="hidden" name="_feedback.whitelabel" value="true" />
					<input type="hidden" name="_feedback.success.title" value="You have contacted us, expect a feedback soon"/>
					<div class="dzFormMsg"></div>
					<input type="hidden" name="_append" value="false" />

					<div class="row">
						<div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
							<label class="form-label text-primary">Your Name</label>
							<div class="input-group input-line input-black">
								<input name="Name" required type="text" class="form-control" placeholder="John Doe">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
							<label class="form-label text-primary">Your Email</label>
							<div class="input-group input-line input-black">
								<input name="Email" required type="text" class="form-control" placeholder="info@example.com">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
							<label class="form-label text-primary">Your Number</label>
							<div class="input-group input-line input-black">
								<input name="Phone" required type="text" class="form-control dz-number" placeholder="9876543210">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
							<label class="form-label text-primary">Members</label>
							<div class="input-group input-line input-black">
								<input name="Other[Person]" required type="text" class="form-control" placeholder="1 Person">
							</div>
						</div>
						<div class="col-sm-12 m-b40">
							<label class="form-label text-primary">Message</label>
							<div class="input-group input-line input-black">
								<textarea name="dzMessage" required class="form-control" placeholder="Hi, do you Have a moment to talk About !"></textarea>
							</div>Message
						</div>
						<div class="col-12 text-center">
							<button value="submit" type="submit" class="btn btn-primary btn-hover-1"><span>Sumbit </span></button>
						</div>
					</div>
				</form>
			</div>
		</section>
		<!-- Contact Section -->
		
	</div>
        <!--Footer-->
        {% include 'mainapp/includes/_footer.html' %}
        
        
{% endblock content %}

{% block scripts %}
    {% include 'mainapp/includes/_scripts.html' %}
{% endblock scripts %}

</html>