{% extends "base.html" %}
{% load static %}


    {%block title %}
        VendorConnect | Streamlined Campus Dining Solutions
    {% endblock %}
    {% block styles %}
        {% include 'mainapp/includes/_links.html' %}
    {% endblock styles %}

{% block content %}
    {% include 'mainapp/includes/_mainloader.html' %}
    <div class="page-wraper">
        
        <!-- Header -->
        {% include "header.html" %}
        <!-- Header -->
        
        <!-- Offcanvas Form Start -->
        {% include 'mainapp/includes/_form.html' %}
        <!-- Offcanvas Form End -->
        <div class="page-content bg-white">
            
            <!-- Banner -->
            <div class="main-bnr-two">
                <div class="main-slider-2">
                    <div class="banner-inner">
                        <div class="primary-box"></div>
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6 col-lg-7 col-md-7">
                                    <div class="banner-content">
                                        <h1 class="title wow fadeInUp" data-wow-delay="0.2s">The Number <span class="text-primary">#1</span> World of Flavors on Campus</h1>
                                        <p class="wow fadeInUp" data-wow-delay="0.4s">Connecting you to the best vendors, meals, and deals, all in one place.</p>
                                        
                                        <div class="banner-btn d-flex align-items-center wow fadeInUp" data-wow-delay="0.6s">
                                            <a href="contact-us.html" class="btn btn-primary btn-md shadow-primary m-r30 btn-hover-3"><span class="btn-text" data-text="Book a Table">Book a Table</span></a>
                                            <a href="about-us.html" class="btn btn-outline-primary btn-md shadow-primary btn-hover-3"><span class="btn-text" data-text="View More">View More</span></a>
                                        </div>
                                    </div>
                                    <div class="main-thumb2-area">
                                        <a href="our-menu-1.html" class="food-card wow fadeInUp" data-wow-delay="0.2s">
                                            <div class="icon">
                                                <i class="flaticon-juice"></i>										
                                            </div>
                                        </a>
                                        <a href="our-menu-1.html" class="food-card wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="icon">
                                                <i class="flaticon-hamburger"></i>								
                                            </div>
                                        </a>
                                        <a href="our-menu-1.html" class="food-card wow fadeInUp" data-wow-delay="0.4s">
                                            <div class="icon">
                                                <i class="flaticon-pizza"></i>									
                                            </div>
                                        </a>
                                        <a href="our-menu-1.html" class="food-card wow fadeInUp" data-wow-delay="0.5s">
                                            <div class="icon">
                                                <i class="flaticon-cake-slice"></i>									
                                            </div>
                                        </a>
                                        <a href="our-menu-1.html" class="food-card wow fadeInUp" data-wow-delay="0.6s">
                                            <div class="icon">
                                                <i class="flaticon-room-service"></i>										
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-5 col-md-5">
                                    <div class="banner-media">
                                        <img src="{% static "images/main-slider/slider3/bg.png" %}" class="item-bg" alt="/">									
                                        <div class="item-media wow fadeInRight dz-move-down" data-wow-delay="1s" data-speed-x="-2" data-speed-scale="-1">
                                            <img src="{% static "images/main-slider/slider3/offer.png" %}" class="offer dz-move" alt="/">
                                            <img src="{% static "images/main-slider/slider3/crown.png" %}" class="crown" alt="/">
                                            <img src="{% static "images/main-slider/slider3/burger.png" %}" class="img2" alt="/">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="primary-box style-1"></div>
                    </div>
                </div>
            </div>	
            <!--Banner-->
            
            <!-- Advertisement Box -->
            <section class="content-inner overflow-hidden pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 m-b30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="adv-box style-1" style="background-image:url('{% static "images/adv/pic2.png" %}'); background-repeat:no-repeat; background-position:center; background-size:cover;">
                                <div class="adv-content">
                                    <span class="special">FRIDAY SPECIAL</span>
                                    <h4 class="title">TASTY BURGER</h4>
                                </div>
                                <div class="adv-media">
                                    <img class="main-media" src="{% static "images/adv/pic1.png" %}" alt="/">
                                    <div class="item-media offer-label">
                                        <img src="{% static "images/adv/label.png" %}" alt="/">
                                        <span class="">50% OFF</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="adv-box style-2">
                                        <div class="adv-media">
                                            <img src="{% static "images/adv/pic3.png" %}" alt="/">
                                        </div>
                                        <div class="adv-content">
                                            <span class="special text-white">TODAY SPECIAL</span>
                                            <h4 class="title text-white">Nodels</h4>
                                            <span class="price">60% OFF</span>
                                            <a href="shop-cart.html" class="btn btn-white btn-hover-3"><span class="btn-text" data-text="Add To Cart">Add To Cart</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="adv-box style-3" style="background-image:url('{% static "images/background/pic15.png" %}'); background-size:cover; background-position:center;">
                                        <div class="adv-content">
                                            <span class="special text-white">MUSHROOM</span>
                                            <h4 class="title">BURGER</h4>
                                            <a href="shop-cart.html" class="btn btn-white btn-hover-3"><span class="btn-text" data-text="Add To Cart">Add To Cart</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.8s">
                                    <div class="adv-box style-4" style="background-image:url('{% static "images/background/pic16.png" %}'); background-repeat:no-repeat; background-size:cover;">
                                        <div class="adv-media">
                                            <img src="{% static "images/adv/pic4.png" %}" alt="/">
                                        </div>
                                        <div class="adv-content">
                                            <span class="special text-white">FOR LIMITED TIME ONLY</span>
                                            <h4 class="price">35% Offer</h4>
                                        </div>
                                        <a href="shop-cart.html" class="btn btn-white btn-hover-3"><span class="btn-text" data-text="Add To Cart">Add To Cart</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Advertisement Box -->
            
            <!-- Image Box-2  -->
            <section class="content-inner bg-white overflow-hidden">
                <div class="container">
                    <div class="section-head text-center">
                        <h2 class="title wow flipInX" data-wow-delay="0.2s">Our Featured Food</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="dz-img-box style-2 box-hover">
                                <div class="dz-media">
                                    <img src="{% static "images/gallery/small/pic1.jpg" %}" alt="/">
                                </div>
                                <div class="dz-content">
                                    <h4 class="dz-title"><a href="product-detail.html">Pizza</a></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
                                    <h5 class="dz-price text-primary">&#x20a6;55.00</h5>
                                    <a href="shop-cart.html" class="btn btn-primary btn-hover-2"> Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="dz-img-box style-2 box-hover">
                                <div class="dz-media">
                                    <img src="{% static "images/gallery/small/pic2.jpg" %}" alt="/">
                                </div>
                                <div class="dz-content">
                                    <h4 class="dz-title"><a href="product-detail.html">Rice</a></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
                                    <h5 class="dz-price text-primary">&#x20a6;50.00</h5>
                                    <a href="shop-cart.html" class="btn btn-primary btn-hover-2"> Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="dz-img-box style-2 box-hover">
                                <div class="dz-media">
                                    <img src="{% static "images/gallery/small/pic3.jpg" %}" alt="/">
                                </div>
                                <div class="dz-content">
                                    <h4 class="dz-title"><a href="product-detail.html">Green Salad</a></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
                                    <h5 class="dz-price text-primary">&#x20a6;45.00</h5>
                                    <a href="shop-cart.html" class="btn btn-primary btn-hover-2"> Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-delay="0.8s">
                            <div class="dz-img-box style-2 box-hover">
                                <div class="dz-media">
                                    <img src="{% static "images/gallery/small/pic4.jpg" %}" alt="/">
                                </div>
                                <div class="dz-content">
                                    <h4 class="dz-title"><a href="product-detail.html">Pasta</a></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
                                    <h5 class="dz-price text-primary">&#x20a6;35.00</h5>
                                    <a href="shop-cart.html" class="btn btn-primary btn-hover-2"> Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Image Box-2 -->
            
            <!-- Service Section -->
            <section class="section-wrapper-4 content-inner overflow-hidden bg-parallax" style="background-image:url('{% static "images/background/pic10.png" %}'); background-attachment: fixed;">
                <div class="container">
                    <div class="section-head text-center">
                        <h2 class="title wow flipInX" data-wow-delay="0.2s">Why Choose Us ?</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-bx-wraper style-4">
                                <div class="icon-bx">
                                    <div class="icon-cell">
                                        <i class="flaticon-fast-delivery"></i>
                                    </div>
                                </div>
                                <div class="icon-content">
                                    <p>24/7 Free Delivery</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-bx-wraper style-4">
                                <div class="icon-bx">
                                    <div class="icon-cell">
                                        <i class="flaticon-clock-1"></i>
                                    </div>
                                </div>
                                <div class="icon-content">
                                    <p>Our Restaurant is Open Around the Clock</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="icon-bx-wraper style-4">
                                <div class="icon-bx">
                                    <div class="icon-cell">
                                        <i class="flaticon-chef"></i>
                                    </div>
                                </div>
                                <div class="icon-content">
                                    <p>Best Chef</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                            <div class="icon-bx-wraper style-4">
                                <div class="icon-bx">
                                    <div class="icon-cell">
                                        <i class="flaticon-cuisine"></i>
                                    </div>
                                </div>
                                <div class="icon-content">
                                    <p>We Have The Freshest Product</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Service Section -->	
            
            <!-- Are Menu-->
            <section class="content-inner section-wrapper-6 p-b40">
                <div class="container inner-section-wrapper">
                    <div class="section-head text-center">
                        <h2 class="title wow flipInX" data-wow-delay="0.2s">From Our Menu</h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-10 col-lg-9 col-md-12 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="site-filters style-1 clearfix">
                                <ul class="filters" data-bs-toggle="buttons">
                                    <li data-filter=".All" class="btn active"><a href="javascript:void(0);"><i class="flaticon-fast-food"></i>ALL</a></li>
                                    <li data-filter=".drink" class="btn"><a href="javascript:void(0);"><i class="flaticon-cocktail"></i>COLD DRINK</a></li>
                                    <li data-filter=".pizza" class="btn"><a href="javascript:void(0);"><i class="flaticon-pizza-slice"></i>PIZZA</a></li>
                                    <li data-filter=".salad" class="btn active"><a href="javascript:void(0);"><i class="flaticon-salad"></i>SALAD</a></li>
                                    <li data-filter=".sweet" class="btn active"><a href="javascript:void(0);"><i class="flaticon-cupcake"></i>SWEETS</a></li>
                                    <li data-filter=".spicy" class="btn active"><a href="javascript:void(0);"><i class="flaticon-chili-pepper"></i>SPICY</a></li>
                                    <li data-filter=".burger" class="btn active"><a href="javascript:void(0);"><i class="flaticon-hamburger-1"></i>BURGER</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-12 text-lg-end d-lg-block d-none wow fadeInUp" data-wow-delay="0.4s">
                            <a href="our-menu-1.html" class="btn btn-outline-primary btn-hover-3"><span class="btn-text" data-text="View All">View All</span></a>
                        </div>
                    </div>
                    <div class="clearfix">
                        <ul id="masonry" class="row dlab-gallery-listing gallery">
                            <li class="card-container col-lg-4 col-md-6 m-b30 All drink pizza burger wow fadeInUp" data-wow-delay="0.2s">
                                <div class="dz-img-box style-7">
                                    <div class="dz-media">
                                        <img src="{% static "images/gallery/grid4/pic1.jpg" %}" alt="/">
                                        <div class="dz-meta">
                                            <ul>
                                                <li class="seller">Top Seller</li>
                                                <li class="rating"><i class="fa-solid fa-star"></i> 4.5</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dz-content">
                                        <h5 class="title"><a href="product-detail.html">Burger</a></h5>
                                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                                        <span class="price">&#x20a6;4.56</span>
                                    </div>
                                </div>
                            </li>
                            <li class="card-container col-lg-4 col-md-6 m-b30 All pizza sweet wow fadeInUp" data-wow-delay="0.2s">
                                <div class="dz-img-box style-7">
                                    <div class="dz-media">
                                        <img src="{% static "images/gallery/grid4/pic2.jpg" %}" alt="/">
                                        <div class="dz-meta">
                                            <ul>
                                                <li class="seller">Top Seller</li>
                                                <li class="rating"><i class="fa-solid fa-star"></i> 4.5</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dz-content">
                                        <h5 class="title"><a href="product-detail.html">Chicken Burger</a></h5>
                                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                                        <span class="price">&#x20a6;17.56</span>
                                    </div>
                                </div>
                            </li>
                            <li class="card-container col-lg-4 col-md-6 m-b30 All salad spicy burger wow fadeInUp" data-wow-delay="0.2s">
                                <div class="dz-img-box style-7">
                                    <div class="dz-media">
                                        <img src="{% static "images/gallery/grid4/pic3.jpg" %}" alt="/">
                                        <div class="dz-meta">
                                            <ul>
                                                <li class="seller">Top Seller</li>
                                                <li class="rating"><i class="fa-solid fa-star"></i> 4.5</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dz-content">
                                        <h5 class="title"><a href="product-detail.html">Pineapple Pizza</a></h5>
                                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                                        <span class="price">&#x20a6;24.50</span>
                                    </div>
                                </div>
                            </li>
                            <li class="card-container col-lg-4 col-md-6 m-b30 All drink sweet salad wow fadeInUp" data-wow-delay="0.4s">
                                <div class="dz-img-box style-7">
                                    <div class="dz-media">
                                        <img src="{% static "images/gallery/grid4/pic4.jpg" %}" alt="/">
                                        <div class="dz-meta">
                                            <ul>
                                                <li class="seller">Top Seller</li>
                                                <li class="rating"><i class="fa-solid fa-star"></i> 4.5</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dz-content">
                                        <h5 class="title"><a href="product-detail.html">Pineapple Soup</a></h5>
                                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                                        <span class="price">&#x20a6;11.02</span>
                                    </div>
                                </div>
                            </li>
                            <li class="card-container col-lg-4 col-md-6 m-b30 All pizza spicy burger wow fadeInUp" data-wow-delay="0.4s">
                                <div class="dz-img-box style-7">
                                    <div class="dz-media">
                                        <img src="{% static "images/gallery/grid4/pic5.jpg" %}" alt="/">
                                        <div class="dz-meta">
                                            <ul>
                                                <li class="seller">Top Seller</li>
                                                <li class="rating"><i class="fa-solid fa-star"></i> 4.5</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dz-content">
                                        <h5 class="title"><a href="product-detail.html">Momos</a></h5>
                                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                                        <span class="price">&#x20a6;4.56</span>
                                    </div>
                                </div>
                            </li>
                            <li class="card-container col-lg-4 col-md-6 m-b30 All drink salad spicy sweet burger wow fadeInUp" data-wow-delay="0.4s">
                                <div class="dz-img-box style-7">
                                    <div class="dz-media">
                                        <img src="{% static "images/gallery/grid4/pic6.jpg" %}" alt="/">
                                        <div class="dz-meta">
                                            <ul>
                                                <li class="seller">Top Seller</li>
                                                <li class="rating"><i class="fa-solid fa-star"></i> 4.5</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dz-content">
                                        <h5 class="title"><a href="product-detail.html">Pancake</a></h5>
                                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                                        <span class="price">&#x20a6;12.20</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container contact-area bg-parallax" style="background-image:url('images/background/pic13.png'); background-attachment: fixed;">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-12 m-b30">
                            <div class="contact-head">
                                <h4 class="title text-white wow fadeInUp" data-wow-delay="0.2s">Book a Table</h4>
                                <p class="text-white opacity-75 wow fadeInUp" data-wow-delay="0.4s">Lorem Ipsum is that it has a more-or-less normal distribution<br> of letters, to using making it look like readable English.</p>
                            </div>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 m-b30 m-xl-b50 wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="input-group input-line">
                                            <div class="input-group-prepand">
                                                <i class="flaticon-user"></i>
                                            </div>
                                            <input name="dzFirstName" required type="text" class="form-control" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="input-group input-line">
                                            <div class="input-group-prepand">
                                                <i class="flaticon-phone-call"></i>
                                            </div>
                                            <input name="dzPhoneNumber" required type="text" class="form-control dz-number" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.4s">
                                        <div class="input-group input-line">
                                            <div class="input-group-prepand">
                                                <i class="flaticon-two-people"></i>
                                            </div>
                                            <select class="form-select default-select">
                                                <option>Number Of People</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.4s">
                                        <div class="input-group input-line">
                                            <div class="input-group-prepand">
                                                <i class="flaticon-email-1"></i>
                                            </div>
                                            <input name="dzEmail" required type="text" class="form-control" placeholder="Your Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="input-group input-line">
                                            <div class="input-group-prepand">
                                                <i class="flaticon-clock"></i>
                                            </div>
                                            <input required type="text" class="form-control" id="timePickerOnly" placeholder="Time">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="input-group input-line">
                                            <div class="input-group-prepand">
                                                <i class="flaticon-calendar-date"></i>
                                            </div>
                                            <input required type="text" class="form-control" id="datePickerOnly" placeholder="Date">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 ">
                                        <button type="button" class="btn btn-md btn-primary btn-hover-3 mt-3">
                                            <span class="btn-text" data-text="Book a Table">Book a Table</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="widget widget_working bg-primary wow fadeInUp" data-wow-delay="0.4s">
                                <div class="head">
                                    <h5 class="title text-white">Contact Info</h5>
                                    <p class="text-white opacity-75">Lorem Ipsum is simply dummy text of the printing typesetting industry.</p>
                                </div>
                                <ul>
                                    <li>
                                        <i class="flaticon-placeholder"></i>
                                        <p>1247/Plot No. 39, 15th Phase, Colony, Kkatpally, Hyderabad</p>
                                    </li>
                                    <li>
                                        <i class="flaticon-telephone"></i>
                                        <p>+91 987-654-3210<br>
                                            +91 123-456-7890</p>
                                    </li>
                                    <li>
                                        <i class="flaticon-email-1"></i>
                                        <p>info@example.com<br>
                                        info@example.com</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Are Menu-->
            
        </div>
        <!--Footer-->
        {% include "footer.html" %}
        
        
{% endblock content %}

{% block scripts %}
    {% include 'mainapp/includes/_scripts.html' %}
{% endblock scripts %}


</html> 