<!DOCTYPE html>
<html lang="en">
<head>
	<title>VendorConnect | Streamlined Campus Dining Solutions</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="CodeWarlock">
	<meta name="robots" content="no-index">
	<meta name="keywords" content="VendorConnect, campus dining, student dining, vendor management, food vendors, campus food, university dining, dining solutions, food ordering, campus services, student services, vendor platform, college dining, university services, food delivery, campus engagement">
	<meta name="description" content="VendorConnect streamlines the campus dining experience by connecting students with vendors, offering convenient access to a variety of dining options. Discover, order, and enjoy campus meals with ease through our user-friendly platform.">
	<meta property="og:title" content="VendorConnect | Streamlined Campus Dining Solutions">
	<meta property="og:description" content="VendorConnect revolutionizes campus dining by seamlessly connecting students with campus vendors, offering a personalized and efficient dining experience.">
	{% comment %} <meta property="og:image" content="../social-image.png"> {% endcomment %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
    {% block meta %}{% endblock meta %}
    <title>{%block title %} {% endblock %}</title>
    {% block styles %}
    {% endblock styles %}
    {% block pre-load-scripts %}{% endblock pre-load-scripts %}
</head>
<body id="bg">
{% block content %}

{% endblock content %}
{% block scripts %}
{% endblock scripts %}
</body>
</html> 